.nf-b {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nf-b svg {
    position: relative;
    height: 40%;
}
@media screen and (max-width: 850px) {
    .nf-b svg {
        width: 70%;
        height: 50%;
    }
}
.nf-b .nf-tt {
    margin-top: 5%;
    color: #666;
    font: 1.4rem Josefin Sans, sans-serif;
}
.nf-b .nf-back {
    position: relative;
    width: 150px;
    height: 40px;
    border: 1.5px solid #666666;
    border-radius: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    color: #666;
    margin-top: 3%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 850px) {
    .nf-b .nf-back {
        margin-top: 10px;
    }
}
.nf-b .nf-back:hover {
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 5px 5px #80808045;
    transform: translateY(-3px);
}
.nf-b .nf-back a {
    text-decoration: none;
    text-align: center;
    color: #000;
}
.mat-button,
.mat-raised-button {
    --primary: #1b3a57;
    --color-fg-default: #24292f;
    --color-fg-secondary: #818185;
    --color-fg-secondary-theme: #636367;
    --primary-outline: #fff;
    --button-secondary: rgba(0, 0, 0, 0.06);
    --theme-color-ink: rgba(0, 0, 0, 0.54);
    --theme-color-primary-2: #142f49;
    --loader-bg-blur: #24292f1f;
}
@media (prefers-color-scheme: dark) {
    .mat-button,
    .mat-raised-button {
        --color-fg-secondary-theme: #d4d4dc;
        --button-secondary: rgba(255, 255, 255, 0.1);
        --primary-outline: rgb(5, 5, 5);
        --theme-color-ink: rgba(255, 255, 255, 0.54);
        --loader-bg-blur: #b4c5db1f;
    }
}
:root {
    --color-fg-default: #24292f;
    --color-fg-secondary: #818185;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-fg-default: #c9d1d9;
    }
}
.form-row-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-row {
    margin: 15px 0;
    color: var(--color-fg-default);
    margin-top: 0 !important;
}
.form-row.required .form-row-label label:after {
    padding-left: 5px;
    color: #d32f2f;
    content: "*";
}
.form-row .form-row-label {
    margin: 0 0 6px;
}
.form-row .form-row-label label {
    position: static;
    font-weight: 600;
}
.form-row .form-row-input {
    display: block;
    position: relative;
}
.form-row .form-row-restr {
    line-height: 23px;
}
.form-row .form-row-restr label {
    position: static;
    display: inline;
}
.form-row .form-row-restr label p {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    color: var(--color-fg-secondary);
}
.form-row .form-row-restr .scope {
    width: 200px;
    display: inline-block;
    padding: 2px 0;
    margin: 0;
    font-size: 12px;
    color: var(--color-fg-default);
}
.form-row .form-row-restr .scope input {
    margin-right: 4px;
}
.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: var(--color-fg-secondary);
}
@media screen and (min-width: 1800px) {
    .note {
        font-size: 14px;
    }
}
.nwl-form {
    min-width: min(340px, 70vw);
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border, var(--border-default));
    border-radius: 6px;
    transition: box-shadow 0.25s;
}
.nwl-form.mx-f-2 {
    width: 440px !important;
}
.nwl-form.minir {
    min-width: 50px;
    width: 150px;
}
.nwl-form.red-stl,
.nwl-form:has(.red-stl) {
    --primary: #d32f2f;
    --border-active: var(--primary);
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--primary);
}
.nwl-form.red-stl :hover,
.nwl-form:has(.red-stl) :hover {
    --primary: #ba2929;
}
.nwl-form input,
.nwl-form button {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    outline: none;
    display: block;
    border: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.nwl-form input {
    width: 100%;
    flex-grow: 1;
    color: var(--card-primary);
}
.nwl-form input::placeholder {
    color: var(--input-placeholder);
}
.nwl-form input[type="number"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    -moz-appearance: textfield;
}
.nwl-form input[type="number"]::-webkit-outer-spin-button,
.nwl-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.nwl-form.ad-wa-srv-gb-c {
    margin: 0 0 20px;
}
.nwl-form:focus-within {
    --border-width: 1.5px;
    --border: var(--border-active);
}
.nwl-form.active {
    --border-width: 1.5px;
    --border: var(--border-active);
}
.nwl-form.valid {
    --button-opacity: 1;
    --button-cursor: pointer;
    --button-filter: grayscale(0%);
}
.nwl-form.pointer {
    cursor: pointer;
}
.nwl-form.euro {
    max-width: 340px;
}
.nwl-form.euro,
.nwl-form.percent {
    padding: 5px 10px;
}
.nwl-form.euro:after,
.nwl-form.percent:after {
    z-index: 1;
    position: relative;
    content: attr(data-unit);
    height: 30px;
    color: var(--color-fg-default);
    border-radius: 50%;
    padding: 5px;
    min-width: 30px;
    text-align: center;
    font-style: normal;
    flex-shrink: 0;
}
.nwl-form.percent {
    max-width: 100px;
    min-width: unset;
}
.nwl-form select {
    outline: none;
    border: none;
    background: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    color: var(--color-fg-default);
}
.nwl-form p {
    text-align: left !important;
    min-width: auto !important;
    padding: 0 !important;
}
.nwl-form-label {
    margin: 0 0 6px;
}
.nwl-form-label label {
    position: static;
    font-weight: 500;
    color: var(--card-primary);
}
.nwl-form-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nwl-form-counter .counter-button {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
}
.nwl-form-counter .counter-button:hover {
    background-color: var(--theme-color-primary-2);
}
.nwl-form-counter .counter-button:focus {
    outline: solid 2px var(--primary-outline);
    outline-offset: -4px;
}
.nwl-form-counter .nwl-form {
    max-width: 50px !important;
    min-width: 50px !important;
    margin: 0 10px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
b,
strong {
    font-weight: 700;
}
hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-border);
}
code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
}
[type="checkbox"]:disabled {
    cursor: not-allowed;
}
@font-face {
    font-family: Marianne-Medium;
    src: url(/static/fonts/Marianne-Medium.woff2) format("woff2");
}
@font-face {
    font-family: Marianne-Regular;
    src: url(/static/fonts/Marianne-Regular.woff2) format("woff2");
}
@font-face {
    font-family: Material Icons Extended;
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(//fonts.gstatic.com/s/materialiconsextended/v149/kJEjBvgX7BgnkSrUwT8UnLVc38YydejYY-oE_LvJHMXBBA.woff2) format("woff2");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:after,
*:before {
    box-sizing: border-box;
}
html,
body {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    display: none;
}
::selection {
    background: var(--selection-color);
}
::-moz-selection {
    background: var(--selection-color);
}
body {
    position: relative;
    height: 100%;
    width: 100vw;
    line-height: 1.5;
    font-family: Marianne-Medium, sans-serif;
    font-size: 14px;
    background-color: var(--main-background);
    color: var(--color-fg-default);
}
@media screen and (min-width: 1800px) {
    body {
        font-size: 16px;
    }
}
.cls-1 {
    fill: var(--card-primary);
}
span,
p,
h1,
h2,
h3,
h4,
h5,
a {
    cursor: default;
}
span p,
span a,
span h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1 {
    text-decoration: none;
    text-align: center;
    color: #000;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
:root {
    --flag-blue: #000091;
    --flag-white: #ffffff;
    --flag-blue: #e1000f;
    --flag-text-gradient: linear-gradient(90deg, rgba(0, 0, 145, 1) 0%, rgba(0, 0, 145, 0.05) 50%, rgba(225, 0, 15, 0.05) 50%, rgba(225, 0, 15, 1) 100%);
    --flag-gradient: linear-gradient(90deg, rgba(0, 0, 145, 1) 0%, rgb(255, 255, 255) 50%, rgba(225, 0, 15, 1) 100%);
    --card-red: #ff463a;
    --card-cyan: #40c8e0;
    --card-blue: #0981fa;
    --card-green: #35c759;
    --card-orange: #ff9500;
    --card-primary: #000;
    --card-primary-inverted: #fff;
    --card-secondary: #818185;
    --connection-logo-color: var(--card-primary);
    --max-card-height: 75vh;
    --color-fg-default: #24292f;
    --color-fg-secondary: #818185;
    --primary-outline: #fff;
    --color-border: hsla(210, 18%, 87%, 1);
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --href-color: #0969da;
    --color: #118bee;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-text: #000;
    --color-text-secondary: #999;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
    --color-btn-bg: #f6f8fa;
    --color-btn-border: rgba(27, 31, 36, 0.15);
    --color-btn-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
    --color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    --action-list-selected-bg: rgba(208, 215, 222, 0.24);
    --action-list-selected-bg-hover: rgba(208, 215, 222, 0.32);
    --pp-backdrop: rgba(60, 64, 67, 0.08);
    --item-card-info-color: #333330;
    --layout-primary-dark: #24292f;
    --layout-primary-light: #c9d1d9;
    --layout-primary: var(--layout-primary-dark);
    --divider-icon-background: #ecf3f4;
    --client-selector-border-color: #0f6378;
    --client-container-border-color: #e0ded9;
    --primary: #1b3a57;
    --primary-dark: #2055ee;
    --primary-darkest: #133fc0;
    --input-placeholder: #a6accd;
    --input-text: #646b8c;
    --border-default: #e1e6f9;
    --border-active: #275efe;
    --button-text: #ffffff;
    --main-background: #f6f7f9;
    --card-background: #f2f2f7;
    --card-hover: #e3e3eb;
    --separator-color: rgba(0, 0, 0, 0.1);
    --card-subname: rgba(27, 28, 29, 0.5);
    --button-secondary: rgba(0, 0, 0, 0.06);
    --theme-color-ink: rgba(0, 0, 0, 0.54);
    --dialog-shadow-color: rgba(60, 64, 67, 0.3);
    --dialog-shadow-color-2: rgba(60, 64, 67, 0.15);
    --profile-menu-shadow-color: var(--dialog-shadow-color);
    --profile-menu-shadow-color-2: var(--dialog-shadow-color);
    --profile-menu-action-hover: rgba(31, 31, 31, 0.08);
    --header-color: rgba(0, 0, 0, 0.55);
    --text: #cdd9ed;
    --border: #cdd9ed;
    --background: #fff;
    --arrow: #99a3ba;
    --arrowActive: #6c7486;
    --listText: #99a3ba;
    --listBackground: #fff;
    --listActive: #f5f9ff;
    --listTextActive: #6c7486;
    --listBorder: #e4ecfa;
    --textFilled: #6c7486;
    --fire-color-error-bg: #fbe9e7;
    --fire-color-error-text: #c62828;
    --fire-color-error: #d32f2f;
    --fire-color-dialog-background: var(--main-background);
    --theme-color-primary-2: #142f49;
    --theme-color-primary-bg: #142f4913;
    --theme-color-on-primary: var(--fire-color-white-primary);
    --secondary-overlay-shadow: 0 3px 5px 1px rgba(50, 50, 50, 0.07);
    --onboard-color: rgba(0, 0, 0, 0.7);
    --loader-bg-blur: #24292f1f;
    --graph-line-color: #dedede;
    --graph-line-major-color: #9e9e9e;
    --graph-floating-panel: rgba(255, 255, 255, 0.92);
    --graph-floating-color: rgba(0, 0, 0, 0.54);
    --graph-floating-border-color: #e0e0e0;
    --selection-color: rgba(0, 0, 145, 0.1);
    --fae-list-hover: #e6e7e9;
}
@media (prefers-color-scheme: dark) {
    :root {
        --flag-text-gradient: linear-gradient(90deg, rgba(0, 0, 145, 1) 0%, rgb(255, 255, 255) 50%, rgba(225, 0, 15, 1) 100%);
        --connection-logo-color: aliceblue;
        --color-fg-default: #c9d1d9;
        --primary-outline: rgb(5, 5, 5);
        --main-background: rgb(5, 5, 5);
        --card-background: #121212;
        --card-hover: #1c1c1c;
        --card-primary: rgb(231, 231, 231);
        --card-primary-inverted: #000;
        --separator-color: rgba(255, 255, 255, 0.1);
        --card-subname: rgba(61, 127, 188, 0.592);
        --border: #1c1c1e;
        --button-secondary: rgba(255, 255, 255, 0.06);
        --theme-color-ink: rgba(255, 255, 255, 0.54);
        --dialog-shadow-color: rgba(60, 64, 67, 0);
        --dialog-shadow-color-2: rgba(60, 64, 67, 0);
        --profile-menu-shadow-color: rgba(40, 40, 45, 0.6);
        --profile-menu-shadow-color-2: rgba(40, 40, 45, 0.3);
        --profile-menu-action-hover: rgba(31, 31, 31, 0.7);
        --header-color: rgba(255, 255, 255, 0.55);
        --color-btn-bg: #21262d;
        --color-btn-border: rgba(240, 246, 252, 0.1);
        --color-btn-shadow: 0 0 transparent;
        --color-btn-inset-shadow: 0 0 transparent;
        --action-list-selected-bg: rgba(177, 186, 196, 0.08);
        --action-list-selected-bg-hover: rgba(177, 186, 196, 0.12);
        --color-border: #21262d;
        --pp-backdrop: rgba(174, 187, 199, 0.36);
        --item-card-info-color: var(--color-fg-default);
        --divider-icon-background: #77808218;
        --client-selector-border-color: #0e748d8a;
        --client-container-border-color: #21262d;
        --layout-primary: var(--layout-primary-light);
        --text: #25272b;
        --border: #25272b;
        --background: var(--card-background);
        --arrow: #99a3ba;
        --arrowActive: #6c7486;
        --listText: #99a3ba;
        --listBackground: var(--main-background);
        --listActive: #0e1014;
        --listTextActive: #6c7486;
        --listBorder: #252729;
        --textFilled: #6c7486;
        --fire-color-error-bg: #ff525269;
        --fire-color-error-text: #fbe9e7;
        --fire-color-error: #fbe9e7;
        --theme-color-primary-bg: #142f4957;
        --secondary-overlay-shadow: 0 3px 9px 1px rgba(122, 124, 134, 0.06);
        --onboard-color: rgba(255, 255, 255, 0.8);
        --loader-bg-blur: #b4c5db1f;
        --graph-line-color: #4b4b4b;
        --graph-line-major-color: #9e9e9e;
        --graph-floating-panel: rgba(0, 0, 0, 0.92);
        --graph-floating-color: rgba(255, 255, 255, 0.64);
        --graph-floating-border-color: #262626;
        --selection-color: rgba(225, 0, 15, 0.3);
        --fae-list-hover: #0d0d0d;
    }
}
button span {
    cursor: pointer;
}
.onboard-sp {
    position: absolute;
    left: 50%;
    top: calc(50% + 60px);
    transform: translate(-50%, -50%);
}
.onboard-sp .lottie {
    position: relative;
    width: 250px;
}
.onboard-sp .onboard-text {
    font-size: 30px;
    max-width: 100%;
}
.network-error {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.network-error .icon {
    margin-right: 10px;
    color: #818185 !important;
}
.network-error p {
    color: #818185;
    font-size: 20px;
}
@keyframes dashboardAnimate {
    0% {
        clip-path: polygon(0% 100%, 15% 100%, 34% 100%, 51% 100%, 67% 100%, 84% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon(0% 100%, 15% 100%, 34% 90%, 51% 100%, 67% 100%, 84% 96%, 100% 100%, 100% 97%, 0% 100%);
    }
    40% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
    60% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    75% {
        clip-path: polygon(0% 40%, 15% 45%, 34% 46%, 51% 42%, 67% 30%, 84% 25%, 100% 26%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0% 0%, 15% 0%, 34% 0%, 51% 0%, 67% 0%, 84% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
.console-home {
    display: grid;
    grid: "nav header" min-content "nav module-host" 1fr / min-content 1fr;
    min-height: 100vh;
}
.flag-gradient {
    fill: var(--flag-text-gradient) !important;
}
.home-catch {
    position: relative;
}
.home-catch h1 {
    color: var(--card-primary);
    font-size: 25px;
    font-weight: 400;
}
.home-catch:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--flag-gradient);
}
.badge-icon {
    height: 30px;
    aspect-ratio: auto 30/30;
    width: 30px;
}
.badge {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 3px 6px #8c959f26;
    float: left !important;
    overflow: hidden;
}
.badge .badge-icon {
    max-width: 60%;
    height: auto;
    max-height: 55%;
}
.nav-bar {
    grid-area: nav;
    height: 100vh;
    position: sticky;
    top: 0;
    display: block;
    z-index: 12;
}
.nav-bar .group-row-tt,
.nav-bar .logo-container > h1,
.nav-bar .outlink:after,
.nav-bar .group-name {
    overflow: hidden;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
.nav-bar nav {
    overflow-y: scroll;
    background-attachment: fixed;
    background-image: url(//www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png);
    background-position: left 0 bottom 0;
    background-repeat: no-repeat;
    background-size: 256px 556px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 256px;
    background-color: #051e34;
}
@media screen and (min-width: 1800px) {
    .nav-bar nav {
        width: 300px;
    }
}
.nav-bar nav .nav-header {
    padding: 0 5px;
}
.nav-bar nav .nav-group {
    display: block;
}
.nav-bar nav .nav-group .group-name {
    padding: 18px 24px 20px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff80;
}
.nav-bar nav .nav-group .nav-group-row:nth-child(2) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: none;
}
.nav-bar nav .nav-group .nav-group-row:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 10px;
}
.nav-bar nav .nav-group .nav-group-row {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-top: 1px solid #051e34;
    background-color: #47628233;
    margin: 0 10px;
    overflow: hidden;
}
.nav-bar nav .nav-group .nav-group-row:hover {
    background-color: #ffffff14;
}
.nav-bar nav .nav-group .nav-group-row.home-nav {
    margin: 0;
    padding: 5px 10px;
    background-color: transparent;
    border-top: none;
    box-shadow: 0 -1px #47628233 inset;
    border-radius: unset;
}
.nav-bar nav .nav-group .nav-group-row.home-nav:hover {
    background-color: #ffffff14;
}
.nav-bar nav .nav-group .nav-group-row .group-row {
    align-items: center;
    display: flex;
    cursor: pointer;
    letter-spacing: 0.25px;
    max-width: 100%;
    position: relative;
    text-align: left;
    padding: 10px 14px;
    transition: background-color 0.15s ease;
}
.nav-bar nav .nav-group .nav-group-row .group-row .group-row-icon,
.nav-bar nav .nav-group .nav-group-row .group-row .outlink {
    position: relative;
    border-radius: 5px;
    font-size: 20px;
    height: 18px;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 2px;
}
@media screen and (min-width: 1800px) {
    .nav-bar nav .nav-group .nav-group-row .group-row .group-row-icon,
    .nav-bar nav .nav-group .nav-group-row .group-row .outlink {
        font-size: 25px;
        height: 23px;
        line-height: 25px;
        margin-bottom: 2px;
    }
}
.nav-bar nav .nav-group .nav-group-row .group-row .group-row-icon svg,
.nav-bar nav .nav-group .nav-group-row .group-row .outlink svg {
    position: relative;
    width: 20px;
    height: 18px;
    object-fit: contain;
}
.nav-bar nav .nav-group .nav-group-row .group-row .group-row-icon svg path,
.nav-bar nav .nav-group .nav-group-row .group-row .outlink svg path {
    fill: #fffc;
}
.nav-bar nav .nav-group .nav-group-row .group-row .group-row-icon:has(img),
.nav-bar nav .nav-group .nav-group-row .group-row .outlink:has(img) {
    border-radius: 0;
}
.nav-bar nav .nav-group .nav-group-row .group-row .group-row-icon img,
.nav-bar nav .nav-group .nav-group-row .group-row .outlink img {
    display: block;
    position: relative;
    width: 20px;
    height: 18px;
    object-fit: contain;
    background-color: transparent;
}
.nav-bar nav .nav-group .nav-group-row .group-row.outlink:after {
    color: #fffc;
    font-family: Material Icons Extended;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    speak: none;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    content: "open_in_new";
    margin-left: auto;
    vertical-align: middle;
}
.nav-bar nav .nav-group .nav-group-row .group-row .group-row-tt {
    margin-left: 12px;
    color: #fffc;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1800px) {
    .nav-bar nav .nav-group .nav-group-row .group-row .group-row-tt {
        font-size: 18px;
        line-height: 25px;
    }
}
@media screen and (max-width: 1080px) {
    .nav-bar nav {
        width: 66px;
    }
    .nav-bar .nav-group {
        box-shadow: 0 -1px #ffffff1a inset;
    }
    .nav-bar .group-row-tt,
    .nav-bar .logo-container > h1,
    .nav-bar .outlink:after,
    .nav-bar .group-name {
        display: none !important;
        opacity: 0 !important;
    }
    .nav-bar .logo-container {
        justify-content: center;
        padding: 0 10px;
    }
    .nav-bar .nav-group-row {
        margin: 0 5px !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        border: none !important;
    }
    .nav-bar .nav-group-row:hover {
        background-color: transparent !important;
    }
    .nav-bar .nav-group-row.home-nav {
        padding: 0 !important;
        margin: 0 5px !important;
    }
    .nav-bar .active .group-row {
        background-color: #47628233;
    }
    .nav-bar .active .group-row:hover {
        background-color: #ffffff14;
    }
    .nav-bar .group-row {
        border-radius: 8px;
        margin: 5px 0;
        padding: 8px 19px !important;
    }
    .nav-bar .group-row:hover {
        background-color: #47628233;
    }
}
.logo-container {
    padding: 0 20px;
    align-items: center;
    display: flex;
    height: 48px;
}
.logo-container .logo {
    position: relative;
    height: 25px;
    overflow: hidden;
}
.logo-container .logo img {
    position: relative;
    height: 100%;
    object-fit: contain;
}
.logo-container h1 {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #f0f8ff;
}
.lbb-logo-container.no-nav {
    height: 60px;
}
.lbb-logo-container.no-nav h1 {
    font-size: 30px;
    color: var(--connection-logo-color);
}
.active .group-row .group-row-tt {
    color: #669df6 !important;
}
.active .group-row svg path {
    fill: #669df6 !important;
}
.navbar-separator {
    box-shadow: 0 -1px #ffffff1a inset;
}
header {
    display: grid;
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 50;
}
header .header-content {
    align-items: stretch;
    color: #476282;
    box-shadow: none;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    height: 48px;
    padding: 0 24px;
    position: absolute;
    transform: translateZ(0);
    transition: box-shadow 0.15s cubic-bezier(0.4, 0, 1, 1), background-color 0.15s cubic-bezier(0.4, 0, 1, 1);
    width: 100%;
}
@media screen and (min-width: 1800px) {
    header .header-content {
        height: 58px;
    }
}
header .header-content .left,
header .header-content .middle,
header .header-content .right {
    display: flex;
    align-items: center;
}
header .header-content .pp-container {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1800px) {
    header .header-content .pp-nm {
        font-size: 18px;
    }
}
header .header-content .pp-nm h2 {
    color: #476282;
    font-weight: 600;
}
header .header-content .profile {
    width: 48px;
}
@media screen and (min-width: 1800px) {
    header .header-content .profile {
        width: 58px;
    }
}
header .header-content .profile .profile-inner {
    padding: 4px;
    display: block;
    height: auto;
}
header .header-content .profile .profile-ir-pic {
    display: inline-block;
    flex: 0 1 auto;
    vertical-align: middle;
}
header .header-content .profile .profile-ir-pic .pr-ir-pc {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
    padding: 4px;
}
header .header-content .profile .profile-ir-pic .pr-ir-pc:hover {
    background-color: var(--pp-backdrop);
}
@media screen and (min-width: 1800px) {
    header .header-content .profile .profile-ir-pic .pr-ir-pc {
        height: 50px;
        width: 50px;
    }
}
header .header-content .profile .profile-ir-pic img {
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}
@media screen and (min-width: 1800px) {
    header .header-content .profile .profile-ir-pic img {
        background-size: 42px 42px;
        height: 42px;
        width: 42px;
    }
}
header .prf-menu {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1001;
    padding-bottom: 10px;
    --dialog-shadow-color: var(--profile-menu-shadow-color);
    --dialog-shadow-color-2: var(--profile-menu-shadow-color-2);
}
header .prf-menu .f7e-panel-data-menu {
    border-radius: 28px;
    min-width: 300px;
}
header .prf-menu .mat-menu-content {
    width: 100%;
}
header .prf-menu .mat-menu-content {
    padding: 5px;
}
header .prf-menu .profile-header {
    min-width: 240px;
    border-radius: 24px;
    background: var(--main-background);
    margin: 0;
    overflow: hidden;
}
header .prf-menu .profile-header p {
    color: var(--color-fg-default);
}
header .prf-menu .profile-header-c {
    padding: 15px;
    border-bottom: 1px solid var(--color-border) !important;
}
header .prf-menu .prf-menu-haction {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    border-radius: 8px;
    border: 1px solid #747775;
    color: var(--color-fg-default);
    float: left;
    margin-bottom: 9px;
    margin-left: 78px;
    margin-top: 8px;
    max-width: 254px;
    padding: 5px 15px;
    position: relative;
    text-align: center;
}
header .prf-menu .prf-menu-haction:hover {
    background: var(--profile-menu-action-hover);
}
header .prf-menu .prf-menu-row .mnurr-ow {
    padding: 0 23px 5px 39px;
    background: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 50px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
header .prf-menu .prf-menu-row .frst-ow {
    box-sizing: border-box;
    color: var(--color-fg-default);
    display: inline-block;
    padding: 11px 4px;
    vertical-align: middle;
    width: 32px;
}
header .prf-menu .prf-menu-row .frst-ow .ertf {
    height: 24px;
    padding: 0;
    width: 24px;
}
header .prf-menu .prf-menu-row .scd-ow {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    color: var(--color-fg-default);
    display: inline-block;
    margin-left: 30px;
    max-width: 250px;
    width: calc(100% - 62px);
    vertical-align: middle;
}
header .prf-menu .prf-menu-row .scd-ow .ertf {
    display: inline-block;
    margin: 1px 0;
    vertical-align: middle;
    width: 100%;
}
header .prf-menu .prf-menu-row .scd-ow .SedFmc {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 40px;
    overflow: hidden;
    white-space: normal;
}
header .prf-menu .prf-menu-row:hover {
    background: var(--card-hover);
}
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 4px;
}
.profile-header.featured-bar {
    margin-bottom: inherit;
    margin-top: inherit;
}
.profile-header.featured-bar:has(.profile-header-p) {
    padding-top: unset;
}
.profile-header .profile-header-p {
    padding: 18px 34px 10px;
    width: 100%;
    height: 100%;
}
.profile-header .profile-header-p > div {
    width: max-content;
}
.profile-header.flag .profile-header-p {
    background: linear-gradient(180deg, rgba(74, 84, 97, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
@media screen and (min-width: 1800px) {
    .profile-header.flag {
        min-height: 100px;
    }
}
.profile-header.flag h1 {
    width: max-content;
    background: var(--flag-text-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.profile-header .profile-header-l {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1800px) {
    .profile-header .profile-header-l {
        min-height: 16px;
    }
}
.profile-header .profile-header-l img {
    background-color: var(--pp-backdrop);
    border-radius: 50%;
    box-shadow: 0 0 0 1px #f0f6fc1a;
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 16px;
}
.profile-header .profile-header-l h1 {
    text-align: left;
    line-height: 1.25;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-fg-default);
}
@media screen and (min-width: 1800px) {
    .profile-header .profile-header-l h1 {
        font-size: 25px;
    }
}
.icon {
    display: inline-block;
    overflow: visible !important;
    fill: currentColor !important;
}
.icon.icon-stroke-only {
    fill: none;
    stroke: currentColor !important;
}
main {
    grid-area: module-host;
    min-width: 0;
    position: relative;
    overflow: auto;
    background-color: var(--main-background);
}
main .data {
    height: 100vh;
    overflow-y: scroll;
}
main .featured-bar {
    z-index: 45;
    position: sticky;
    top: 0;
    background-color: var(--main-background);
    display: block;
    min-height: 80px;
    padding-top: 38px;
}
@media screen and (min-width: 1800px) {
    main .featured-bar {
        padding-top: 48px;
    }
}
main .featured-bar .featured-bar-margin {
    padding: 0 34px;
}
main .featured-bar .featured-bar-margin .featured-bar-content {
    position: relative;
}
main .featured-bar .featured-bar-primary-row {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 32px;
    padding-top: 4px;
    position: relative;
}
main .featured-bar .featured-bar-primary-row .feature-title {
    flex: 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
main .featured-bar .featured-bar-primary-row .feature-title h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary);
    font-size: 32px;
    font-weight: 500;
    left: -1px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    position: relative;
}
main .border-bottom-0 {
    border-bottom: none !important;
}
main .border-bottom {
    border-bottom: 1px solid var(--color-border) !important;
}
main .featured-subbar {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 16px;
    padding-bottom: 8px;
    margin-top: 12px;
    white-space: nowrap;
}
main .featured-subbar.featured-bar-margin {
    padding: 0 34px;
}
main .featured-subbar:has(h4) {
    border-bottom: none;
}
main .featured-subbar h2 {
    flex: 1 1 auto;
    font-size: 24px;
    font-weight: 500;
    order: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
main .featured-subbar h3,
main .featured-subbar h4 {
    flex: 1 1 auto;
    font-size: 20px;
    font-weight: 500;
    order: 0;
}
main .featured-subbar h4 {
    font-size: 16px;
}
main .featured-subbar .subbar-actions {
    align-self: center;
    justify-content: flex-end;
    margin: 4px 0 4px 4px;
    order: 1;
}
main .featured-subbar-2 {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding-bottom: 8px;
    margin-top: 12px;
}
@media screen and (max-width: 800px) {
    main .featured-subbar-2 {
        flex-direction: column;
    }
}
main .featured-subbar-2 > h2 {
    flex: 1 1 auto;
    font-size: 20px;
    font-weight: 500;
    order: 0;
}
main .featured-subbar-2 > div:first-child {
    flex: 1 1 auto;
    order: 0;
}
main .featured-subbar-2 .subbar-actions {
    align-self: flex-start;
    justify-content: flex-end;
    margin: 4px 0 4px 4px;
    order: 1;
}
main .featured-subbar-2 .note {
    flex: auto 1;
    order: 2;
}
main .btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--layout-primary);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}
main .btn-sm {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
}
main .oa-container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    padding-right: 34px;
    padding-left: 34px;
}
@media screen and (min-width: 1800px) {
    main .oa-container {
        max-width: 1480px;
    }
}
main .oa-container.w-7 {
    width: 70%;
}
@media screen and (max-width: 600px) {
    main .oa-container.w-7 {
        width: unset;
    }
}
main .oa-container nav {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
main .oa-container nav .nav-list-item {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
}
main .oa-container nav .nav-list-item:first-child {
    margin-left: 0;
}
main .oa-container nav .nav-list-item:after {
    border-right: 0.1em solid var(--color-fg-default);
    content: "";
    display: inline-block;
    height: 0.8em;
    margin: 0 0.5em;
    transform: rotate(15deg);
}
main .oa-container nav .nav-list-item:has(.active):after {
    content: none;
}
main .oa-container nav .nav-list-item a {
    text-decoration: none;
    font-size: 14px;
    color: var(--href-color) !important;
}
main .oa-container nav .nav-list-item a.active {
    color: var(--layout-primary) !important;
}
main .oa-container nav .nav-list-item a:hover {
    text-decoration: underline;
}
main .layout-row {
    --layout-sidebar-width: 220px;
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    grid-template-columns: auto 0 minmax(0, calc(100% - var(--layout-sidebar-width) - 16px));
}
@media screen and (max-width: 550px) {
    main .layout-row {
        display: flex;
        flex-direction: column;
    }
    main .layout-row .layout-sidebar {
        max-width: 100% !important;
    }
}
main .layout-row.layout-f .layout-sidebar {
    --layout-sidebar-width: 270px !important;
}
main .layout-sidebar {
    width: var(--layout-sidebar-width);
    grid-column: 1;
}
@media screen and (max-width: 1200px) {
    main .layout-sidebar {
        max-width: 160px;
    }
}
main .layout-sidebar .layout-sidebar-inner {
    position: sticky;
    top: 110px;
}
main .layout-sidebar ul > li {
    cursor: pointer;
    background-color: initial;
    border-radius: 6px;
    list-style: none;
    position: relative;
}
main .layout-sidebar ul > li .action-list {
    -webkit-tap-highlight-color: transparent;
    align-items: start;
    background-color: initial;
    border: none;
    border-radius: 6px;
    color: var(--layout-primary);
    display: grid;
    grid-template-areas: "leadingAction leadingVisual label trailingVisual trailingAction";
    grid-template-columns: min-content min-content minmax(0, auto) min-content min-content;
    grid-template-rows: min-content;
    padding-block: 6px;
    padding-inline: 8px;
    position: relative;
    text-align: left;
    touch-action: manipulation;
    transition: background 33.333ms linear;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}
main .layout-sidebar ul > li .action-list > :not(:last-child) {
    margin-right: 8px;
}
main .layout-sidebar ul > li .action-list .action-list-label {
    color: var(--layout-primary);
    font-size: 1em;
    grid-area: label;
    line-height: 1.42857;
    position: relative;
    font-weight: 500;
    line-break: loose;
}
main .layout-sidebar ul > li .action-list .action-list-drop {
    align-items: center;
    display: flex;
    min-height: 20px;
    pointer-events: none;
    grid-area: trailingAction;
}
main .layout-sidebar ul > li .action-list:hover {
    background-color: var(--action-list-selected-bg);
}
main .layout-sidebar ul > li:has(.active) > .action-list:hover:not(.has-subitems),
main .layout-sidebar ul > li:has(.active) .action-list[aria-expanded="false"]:hover {
    background-color: var(--action-list-selected-bg-hover);
}
main .layout-sidebar ul > li:has(.active) > .action-list:not(.has-subitems),
main .layout-sidebar ul > li:has(.active) > .action-list[aria-expanded="false"] {
    background-color: var(--action-list-selected-bg);
}
main .layout-sidebar ul > li:has(.active) > .action-list:not(.has-subitems):after,
main .layout-sidebar ul > li:has(.active) > .action-list[aria-expanded="false"]:after {
    background: var(--href-color);
    border-radius: 6px;
    content: "";
    height: 24px;
    left: -8px;
    position: absolute;
    top: calc(50% - 12px);
    width: 4px;
}
main .layout-sidebar ul > li:has(.active) > .action-list:not(.has-subitems) .action-list-label,
main .layout-sidebar ul > li:has(.active) > .action-list[aria-expanded="false"] .action-list-label {
    font-weight: 600;
}
main .layout-sidebar ul > li .action-list-drop {
    transition: transform 0.3s ease;
}
main .layout-sidebar ul > li .action-list.has-subitems[aria-expanded="true"] + .sub-action-list {
    height: auto;
    opacity: 1;
    overflow: visible;
    transform: translateY(0);
    visibility: visible;
}
main .layout-sidebar ul > li .action-list.has-subitems[aria-expanded="true"] .action-list-drop {
    transform: scaleY(-1);
}
main .layout-sidebar ul > li .action-list.has-subitems[aria-expanded="false"] + .sub-action-list {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-16px);
    visibility: hidden;
}
main .layout-sidebar ul > li .sub-action-list a {
    padding-left: 32px !important;
}
main .layout-main {
    grid-column: 2 / span 2;
    min-width: 0;
}
main .layout-main .layout-centered {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(768px + var(--layout-sidebar-width) + 24px);
}
main .layout-main .layout-centered > .set-container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
}
main .layout-main .layout-centered > .set-container {
    margin-left: 0;
}
main .layout-main .layout-centered > .set-container code {
    font-weight: 500;
    font-size: 16px;
}
main .layout-main.full-layout .set-container,
main .layout-main.full-layout .layout-centered {
    max-width: unset !important;
}
main .layout-main.full-layout .fa-list .fa-list-row {
    width: max(33%, 200px);
}
main .fa-list {
    position: relative;
    color: var(--primary);
    padding-bottom: 50px;
}
main .fa-list .fa-list-row {
    padding-right: 16px !important;
    padding-left: 16px !important;
    margin-bottom: 24px !important;
    float: left !important;
    width: max(50%, 200px);
    overflow: hidden;
}
main .fa-list .fa-list-row.w-full {
    width: 100% !important;
    padding: 0 !important;
    max-width: 1200px;
}
main .fa-list .fa-list-row.border-solid {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--color-border);
}
main .fa-list .fa-list-row.gapx {
    width: max(50% - 5px, 200px);
    margin-left: 2.5px;
    margin-right: 2.5px;
}
main .fa-list .fa-list-row.fa-flex {
    display: flex;
}
@media screen and (max-width: 550px) {
    main .fa-list .fa-list-row.fa-flex {
        flex-direction: column;
    }
}
main .fa-list .fa-list-row .fa-list-l {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: -1px;
    padding: 20px;
    color: #fff;
    background-color: var(--primary);
    text-align: center;
    border-radius: 4px 0 0 4px;
}
@media screen and (max-width: 550px) {
    main .fa-list .fa-list-row .fa-list-l {
        width: 100%;
    }
}
main .fa-list .fa-list-row .fa-list-m {
    flex: 1;
    padding: 25px;
}
main .fa-list .fa-list-row .fa-list-m .fa-list-m-title {
    font-size: 26px;
    color: inherit;
    font-weight: 400;
    margin-bottom: 0.75em;
}
main .fa-list .fa-list-row .fa-list-m .fa-list-m-b {
    display: flex;
    align-items: center;
    flex-direction: flex-start;
}
main .fa-list .fa-list-row .fa-list-m .fa-list-m-b dl {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}
main .fa-list .fa-list-row .fa-list-m .fa-list-m-b dd {
    font-size: 18px;
}
main .fa-list .fa-list-row .fa-list-m .fa-list-m-b li:not(:last-child) {
    border-right: 1px solid var(--client-container-border-color);
}
main .fa-list .fa-list-row .fa-list-m .fa-list-m-b .main {
    color: #ff396c;
}
main .fa-list .fa-list-row .fa-list-r {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1px solid var(--client-container-border-color);
    padding: 25px;
    max-width: 250px;
    flex: 1;
}
@media screen and (max-width: 550px) {
    main .fa-list .fa-list-row .fa-list-r {
        max-width: 100%;
        border-left: none;
        border-top: 1px solid var(--client-container-border-color);
    }
}
main .fa-list .fa-list-row .fa-list-r .fa-list-edit {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
main .fa-list .fa-list-row .fa-list-r h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
main .fa-list .fa-list-row a {
    color: inherit;
}
main .fa-list .fa-list-row a:hover {
    text-decoration: underline;
}
main .fa-list .fa-list-row.fa-row-border {
    cursor: pointer;
    color: var(--color-fg-default);
    border: 1px solid var(--client-container-border-color);
    padding: 10px 5px;
    border-radius: 5px;
    margin: 0 5px;
    width: max(50% - 10px, 200px);
}
main .fa-list .fa-list-row.fa-row-border:hover {
    border-color: var(--color-fg-secondary);
}
main .fa-list .fa-list-row .item-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--client-container-border-color);
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
main .fa-list .fa-list-object {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
}
main .fa-list .fa-list-object .fa-list-object-item {
    white-space: nowrap;
    vertical-align: middle;
}
main .fa-list .fa-list-object .fa-list-object-item.primary-o {
    text-overflow: ellipsis;
    overflow: hidden;
}
main .fa-list .fa-list-object .fa-list-object-item.primary-o a {
    color: var(--href-color);
    text-align: unset;
}
main .fa-list .fa-list-object .fa-list-object-item.primary-o a:hover {
    text-decoration: underline;
}
main .fa-list .fa-list-a {
    color: currentColor;
}
main .fa-list .fa-list-a h2 {
    font-size: 14px;
    color: var(--href-color);
}
main .fa-list .fa-list-a:hover h2 {
    text-decoration: underline;
}
main .fa-list .fa-list-prev-card {
    aspect-ratio: 5/4;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: box-shadow ease 0.5s;
    --fa-list-prev-card-base-h: 40px;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-img {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1 auto;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-img .badge-icon {
    height: auto;
    width: 100%;
    position: relative;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-base {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--fa-list-prev-card-base-h);
    background-color: #142f49ab;
    padding: 0 15px;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-base div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-base p {
    flex: 1 auto;
    line-height: var(--fa-list-prev-card-base-h);
    font-size: 15px;
    color: #fff;
    text-align: unset;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-base .card-arrow {
    height: 100%;
    padding: 10px;
}
main .fa-list .fa-list-prev-card .fa-list-prev-card-base .card-arrow > .icon {
    transition: ease-in-out 0.2s;
    transform: translate(-50%);
    opacity: 0;
    object-fit: contain;
    height: 100%;
}
main .fa-list .fa-list-prev-card:hover .fa-list-prev-card-base {
    text-decoration: underline;
    text-decoration-color: #fff;
}
main .fa-list .fa-list-prev-card:hover .card-arrow > .icon {
    transform: translate(0);
    opacity: 1;
}
main .owner-profile {
    margin: 16px 0 0;
    display: flex;
}
main .owner-profile > p {
    flex: auto;
    float: left;
    margin: 0;
    line-height: 30px;
}
main .owner-profile > p a {
    text-decoration: none;
    font-size: 14px;
    color: var(--href-color) !important;
}
main .owner-profile > p a:hover {
    text-decoration: underline;
}
main .client-box {
    background-color: var(--main-background);
    border-color: var(--color-border);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}
main .client-box.warn {
    border-color: #d32f2f !important;
}
main .client-box .box-container {
    display: flex;
    align-items: center;
    padding: 16px;
}
main .client-box .box-container p {
    color: var(--color-fg-secondary);
}
main .client-box .flex-col {
    flex: auto;
    padding-right: 24px;
    padding-left: 24px;
}
main .client-box .lb-ico {
    display: block;
    text-align: center;
    color: var(--color-fg-default);
}
main .client-box .lb-ico svg {
    transform: rotate(45deg);
}
main .client-box .label {
    border: 1px solid var(--color-border);
    border-radius: 2em;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 0 7px;
    white-space: nowrap;
}
main .client-box-highlight {
    background-color: #1468cb;
    border-radius: 8px;
    overflow: hidden;
}
main .client-box-highlight .highlight-header {
    margin: 16px;
}
main .client-box-highlight .highlight-header p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
    color: #fff;
}
main .client-box-highlight .highlight-header span {
    color: #fff !important;
    display: inline-flex;
    vertical-align: bottom;
}
main .client-box-highlight .highlight-body {
    margin: 0 0.25rem 0.25rem;
}
main .restrict-box {
    background-color: var(--main-background);
    border-color: var(--color-border);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
main .note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: var(--color-fg-secondary);
}
@media screen and (min-width: 1800px) {
    main .note {
        font-size: 14px;
    }
}
