[Unit]
Description=Webserv by Maxnece Gama
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/webserv
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webserv

[Install]
WantedBy=multi-user.target
